extends layout

block content
  h1= title
  p
  p
  form(method='post',action='')
        label(for='query') query:
        input(type='text',name='query',id='query')    
        p
        input(type='submit',name='submit',value='Submit').submit-button
  p
  p= information
