html
  head
    title= title
    p Superbuscador
  body
      header
        h1

      .container
        .main-content
          block content
        
      footer
        p ***********************
        p 2014 - BEEVA Innovation
   